.faq{
    background-image: url('./assets/faq/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 55vh;
}

.chat1 p{
    padding: 15px;
    border-radius: 0 8px 8px 20px;
}