.join input{
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.join{
    border: none;
    /* border-radius: 10px; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.join textarea{
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}