.rec span {
  color: #03cfd6;
  font-style: normal;
}

.rec{
  background: rgba(18, 18, 18, 0.8);
}

.what p{
    font-size: 20px;
}

.what ul{
    font-size: 20px;
}

.what h1{
    font-size: 23px;
}
